body {
    background-color : darkred;
    
}
h2 {
    color : aqua;
}
h3{
    background-color : aliceblue;
    color : coral;
}

li{
    color: snow;
}
.green{
    color: green;
}
.bold{
    font-weight: bold;
}

.animation{
    width:100px;
    height:100px;
/*    display: none;*/
}
.blue {
    background: blue;
}

.Operator {
    background-color: firebrick;
    color: white;
}
.Number {
    background-color: blueviolet;
    color: white;
}
.Clear{
    background-color:black;
    color:white;
}
.Calculate {
    background-color: darkslategrey;
    color: white;
}