body {
    background-color : darkred;
    
}
h2 {
    color : aqua;
}
h3{
    background-color : aliceblue;
    color : coral;
}

li{
    color: snow;
}
.green{
    color: green;
}
.bold{
    font-weight: bold;
}
